.site {
    background: linear-gradient(to bottom, #EA0029, #9c1c34, #004696);
	background-size: 100%;
	background-repeat: no-repeat;
}

.site::before {
    content:'';
	position: fixed;
	top: 0; 
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #00224A 120%);
}

.headerImage {
    position: relative;
    display: block;
    width: 50%;
    opacity: 0.125;
    margin-left: auto;
    margin-right: auto;
}

.navbar-custom {
    background-color: #00224A;
}

.red-text:hover {
    color: #EA0029 !important;
}

.centeredText {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
}

.home-header {
    height: 325px;
}

.home-header-text {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.web-link {
    font-style: italic;
    color: #00479c;
}

.team-container {
    text-align: center;
    padding: 10px 25px 10px 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.15);
}

.team-container:hover {
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.5);
}

.faculty-client-container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.15);
}

.faculty-client-container:hover {
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.5);
}

.ruler {
    width: 80%;
    border: 1.5px solid rgb(228, 183, 125);
    border-radius: 5px;
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.15);
}

.semester-text {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.plan-container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.15);
}

.plan-container:hover {
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.5);
}


.mile1-container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.15);
}

.mile1-container:hover {
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.5);
}


.mile2-container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.15);
}

.mile2-container:hover {
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.5);
}


.mile3-container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.15);
}

.mile3-container:hover {
    box-shadow: 0 0 .7em .7em rgba(54, 54, 54, 0.5);
}


ul {
    list-style-type: none;
    padding: 5px 0 0 0;
    margin: 0;
}

li {
    padding: 5px 0 0 0;
}

.container-text {
    font-size: 23px;
    font-weight: bold;
    color: #00224A;
}

.linked-text {
    font-size: 18px;
}
